 input[type="text"]{
    margin-top: 10px;
    margin-left: 100px;
    height: 25px;
    width: 15%;
    font-size:20px;
}
.button{
    background-color: white;
    font-size:x-large;
    margin-top: 10px;
    margin-left: 100px;
} 
